/* 
    Created on : 03-ago-2019, 14:41:11
    Author     : RVS
*/

p{
  border: 1px solid red;
  text-align: center;
  background: #dee0e2;
  font-size: 1.6em; 
}

nav{
  background: orange;
}

.c1_25{
  width: 25%;
  background: red;
}

.c2_25{
  width: 25%;
  background: yellow;
}

.c3_25{
  width: 100%;
  /*width: 25%;*/
  background: green;
  border: 5px solid black;
  box-sizing: border-box;
  font-size: 0.5em;  
}

.c4_25{
  width: 25%;
  background: aqua;
}

.c5_25{
  width: 25%;
  background: gray;
}
