/* 
    Created on : 04-sep-2019, 14:14:23
    Author     : RVS
*/

nav {
  width: 93%;
  margin: 10px;
  padding: 10px;
  border: 1px solid #000;
}

.nav , 
.nav-tabs {
  width: 55%;
  margin: 10px;
  padding: 10px;
  background-color: #f2f2f2;
}

li {
  padding: 2% 5% 2% 5%;
}

a{
  font-weight: bold;
  text-align: center;
}


